/*
********************************
🏃 Browser Reset Code Start 🏃 
********************************
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Default Font */
body {
  font-family: "Work Sans", sans-serif;
}
/*
********************************
🏃 CSS Variable Start 🏃
********************************
*/
:root {
  --cwhite: #fff;
  --cblack: #000;
  --cprimary: #ff900e;
  --csecondary: #727272;
  --ctertiary: #131313;
  --cquaternary: #fff4e7;
  --navary: #424242;
  --wrapper: 100%;
  --wrap: 1920px;
  --center: 0 auto;
}
/*
********************************
  🙂 CSS Variable End 🙂
********************************
*/
/* Default Button */
.primary_btn {
  border: none;
  padding: 15px 20px;
  background-color: var(--cprimary);
  color: var(--cwhite);
  font-size: 20px;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}
.primary_btn:hover {
  background-color: var(--cwhite);
  color: var(--cprimary);
  border: 1px solid var(--cprimary);
}
/*
********************************
  🙂 Browser Reset Code End 🙂 
********************************
  */

/*
********************************
  🏃 CSS3 Animation Start 🏃
********************************
*/
/* For Some Facts */
@keyframes somefactsh2 {
  0% {
    color: var(--cprimary);
    font-weight: 200;
  }
  100% {
    color: var(--ctertiary);
    font-weight: 600;
  }
}
/* For Extra Work */
@keyframes ewicon {
  0% {
    color: var(--c_white);
  }
  100% {
    color: #ddd;
  }
}
/*
********************************
🙂 CSS3 Animation End 🙂
********************************
*/
/*
********************************
🏃 Default Code Start 🏃
********************************
*/
/* Style For Header Area Start */
header {
  background-color: var(--cquaternary);
}
.header_content {
  display: flex;
  justify-content: space-between;
  padding: 40px 240px;
  align-items: center;
}
.hc_logo h2 {
  font-weight: 700;
  font-size: 45px;
}
.hc_nav {
  display: flex;
  column-gap: 20px;
  align-items: center;
}
.hc_nav li {
  list-style-type: none;
}
.hc_nav li a {
  text-decoration: none;
  color: var(--navary);
  font-weight: 500;
  font-size: 18px;
}
/* Style For Header Area End */

/* Style For Main Area Start */
.container {
}

/* -- Lead Section -- */
.lead_area {
  background-color: var(--cquaternary);
  padding-bottom: 30px;
}
.lead_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 240px;
}
.lc_text {
  text-align: center;
}
.lc_text h1 {
  font-weight: 600;
  font-size: 60px;
}
.lc_text p {
  font-weight: 500;
  font-size: 17px;
  margin-top: 30px;
  margin-bottom: 30px;
}
.lc_banner {
  margin-top: 10px;
}
.lc_banner img {
  width: var(--wrapper);
  height: 700px;
  margin-top: 35px;
}
/* Features Section */
.features_area {
  padding: 60px 240px;
}
.features_content {
  display: flex;
  align-items: center;
  column-gap: 60px;
}
.fc_gallery {
}
.fc_items {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
.fc_items img {
}
.fc_text h2 {
  font-size: 45px;
}
.fc_text h2 > span {
  color: var(--csecondary);
  font-weight: 400;
}
.fc_text h2 > p {
  color: var(--cprimary);
  margin-bottom: 20px;
}
.fc_description {
  color: var(--csecondary);
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 30px;
}
/* Features Details Section */
.features_details {
  padding-top: 60px;
  padding-left: 240px;
  padding-right: 240px;
}
.features_details_content {
  display: flex;
  column-gap: 80px;
  align-items: center;
}
.fdc_text {
  height: 1000px;
}
#text-item-fdc h1 {
  font-weight: 700;
  font-size: 45px;
  color: var(--ctertiary);
  border-left: 5px solid var(--cprimary);
  padding-left: 15px;
  margin-bottom: 15px;
}
#text-item-fdc p {
  color: var(--csecondary);
  font-weight: 400;
  font-size: 16px;
}
.fdc_text_items {
  padding: 25px;
  box-shadow: 0 6px 16px rgb(0 0 0 / 15%);
  margin: 25px 0px;
}
.fdc_text_items p {
  color: var(--csecondary);
  font-weight: 400;
  font-size: 16px;
}
.fdc_text_items h3 {
  font-weight: 600;
  font-size: 20px;
  color: var(--ctertiary);
  margin-bottom: 10px;
}
.fdc_banner img {
  width: 708px;
  height: 900px;
}
.fdc_ten_year {
  position: relative;
  top: -125px;
  right: 5%;
}
.fdc_ten_year button {
  background-color: var(--cprimary);
  font-size: 65px;
  color: var(--cwhite);
  font-weight: 700;
  border: none;
  padding: 25px;
  border-radius: 5px;
}
.fdc_ten_year p {
  font-weight: 500;
  font-size: 25px;
}
/* Some Facts Section  */
.some_facts {
  padding: 0 240px;
}
.sfc_text h1 {
  font-weight: 700;
  font-size: 45px;
  color: var(--ctertiary);
  margin-bottom: 20px;
}
.sfc_text p {
  color: var(--csecondary);
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 80px;
}
.sfc_summary {
  display: flex;
  column-gap: 120px;
  text-align: center;
}
.sfc_s_items {
  border: 1px solid var(--cprimary);
  border-radius: 5px;
  padding: 45px;
}
.sfc_s_items h2 {
  font-weight: 600;
  font-size: 38px;
  color: var(--navary);
  animation-name: somefactsh2;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}
.sfc_s_items p {
  font-weight: 600;
  font-size: 18px;
  color: var(--csecondary);
  margin-top: 15px;
}
.sfc_s_items img {
  width: 50px;
  height: 50px;
  margin-bottom: 5px;

  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}
/* CSS3 Animation For Some Facts Section */
.sfc_s_items:hover img {
  transition-duration: 1s;
  transform: rotate3d(1, 1, 1, 360deg) scale(1.7);
  -webkit-transform: rotate3d(1, 1, 1, 360deg) scale(1.7);
  -moz-transform: rotate3d(1, 1, 1, 360deg) scale(1.7);
  -ms-transform: rotate3d(1, 1, 1, 360deg) scale(1.7);
  -o-transform: rotate3d(1, 1, 1, 360deg) scale(1.7);
}
/* Our Sponspors Section */
.our_sponspors {
  margin-top: 150px;
  padding: 0 240px;
}
.osc_text > h1 {
  text-align: center;
  font-weight: 700;
  font-size: 45px;
  color: var(--ctertiary);
  margin-bottom: 20px;
}
.osc_text > p {
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  color: var(--csecondary);
}
.osc_logo {
  margin-top: 50px;
}
.osc_logo_items {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-items: center;
  grid-column-gap: 20px;
}
.osc_logo_items img {
  width: 170px;
  height: 45px;
  filter: grayscale(1);
}
/* Style For Main Area End */
/* Style For Extra Work Area Start */
.extra_work {
  background-color: var(--cwhite);
  height: auto;
  padding: 60px 240px;
}
.ew_title {
  font-size: 80px;
  color: var(--csecondary);
  font-weight: 100;
  font-style: italic;
  padding-bottom: 10px;
  text-align: center;
  padding-top: 30px;
}
.ew_sub_title {
  text-align: center;
  font-size: 25px;
  color: var(--cprimary);
  font-weight: 400;
}
.ew_container {
  display: grid;
  padding: 100px 0 0;
  grid-template-columns: repeat(2, 1fr);
}
.ew_item {
  padding: 20px;
}
.ew_item_content {
  position: relative;
  height: 250px;
  margin-right: 25px;
  -webkit-border-radius: 5px;
  margin-top: 100px;
  transition: 0.5s;
  transition-delay: 0.4s;
  cursor: pointer;
  border: 1px solid var(--csecondary);
}
.ew_item_content:hover {
  transition-delay: 0s;
  height: 500px;
  margin-top: 0px;
  box-shadow: 0px 8px 24px 0px var(--cprimary);
  border-radius: 30%;
}
.ew_ic_thumb {
  width: 60%;
  position: relative;
  left: 22%;
  top: -80px;
  height: 328px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.overlay {
  position: absolute;
  width: 100%;
  height: 260px;
  background-color: var(--cblack);
  opacity: 0.5;
  z-index: 999999;
  border-radius: 100%;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}
.ew_item_content:hover .overlay {
  background-color: transparent;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}
.ew_ic_thumb img {
  width: 100%;
  height: 260px;
  border-radius: 100%;
  object-fit: cover;
  border: 2px dashed var(--csecondary);
  padding: 5px;
}

.ew_ic_desc {
  text-align: center;
  padding: 25px;
  position: relative;
  top: -140px;
  visibility: hidden;
  opacity: 0;
  transition: 0.5s ease-in-out;
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -ms-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
}
.ew_item_content:hover .ew_ic_desc {
  transition-delay: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  visibility: visible;
  opacity: 1;
}
.ew_icon {
  font-size: 30px;
  color: var(--csecondary);
  margin-top: 20px;
  animation: ewicon;
  -webkit-animation: ewicon;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
.ew_item_content:hover .ew_icon {
  display: none;
  transition-delay: 0s;
}
.ew_ic_desc h2 {
  font-size: 35px;
  margin-bottom: 20px;
  margin-top: 10px;
}
.ew_ic_desc p {
  font-size: 18px;
  line-height: 25px;
}
/* Style For Extra Work Area End */
/* Style For Footer Area Start */
footer {
  padding: 100px 240px;
  margin-bottom: 50px;
}
.footer_content {
  background-color: var(--cquaternary);
  padding: 35px 0px;
}
.footer_content p {
  text-align: center;
  font-weight: 400;
  font-size: 20px;
  color: var(--navary);
}
/* Style For Footer Area End */

/*
********************************
🙂 Default Code End 🙂
********************************
*/
