/*
********************************
🏃 Browser Reset Code Start 🏃 
********************************
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Default Font */
body {
  font-family: "Work Sans", sans-serif;
}
/* Default Button */
.primary_btn {
  border: none;
  padding: 15px 20px;
  background-color: var(--cprimary);
  color: var(--cwhite);
  font-size: 20px;
  font-weight: 600;
  border-radius: 5px;
}
/*
********************************
  🙂 Browser Reset Code End 🙂 
********************************
  */
/*
********************************
🏃 CSS Variable Start 🏃
********************************
*/
:root {
  --cwhite: #fff;
  --cblack: #000;
  --cprimary: #ff900e;
  --csecondary: #727272;
  --ctertiary: #131313;
  --quaternary: #fff4e7;
  --navary: #424242;
  --wrapper: 100%;
  --wrap: 1920px;
  --center: 0 auto;
}
/*
********************************
  🙂 CSS Variable End 🙂
********************************
*/
/*
********************************
🏃 Default Code Start 🏃
********************************
*/
/* Style For Header Area Start */
header {
  background-color: var(--quaternary);
}
.header_content {
  display: flex;
  justify-content: space-between;
  padding: 50px 240px;
  align-items: center;
}
.hc_logo h2 {
  font-weight: 700;
  font-size: 45px;
}
.hc_nav {
  display: flex;
  column-gap: 20px;
  align-items: center;
}
.hc_nav li {
  list-style-type: none;
}
.hc_nav li a {
  text-decoration: none;
  color: var(--navary);
  font-weight: 500;
  font-size: 18px;
}
/* Style For Header Area End */

/* Style For Main Area Start */
.container {
}

/* -- Lead Section -- */
.lead_area {
  background-color: var(--quaternary);
  padding-bottom: 30px;
}
.lead_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 240px;
}
.lc_text {
  text-align: center;
}
.lc_text h1 {
  font-weight: 600;
  font-size: 60px;
}
.lc_text p {
  font-weight: 500;
  font-size: 17px;
  margin-top: 30px;
  margin-bottom: 30px;
}
.lc_banner img {
  width: var(--wrapper);
  height: 700px;
  margin-top: 35px;
}
/* Features Section */
.features_area {
  padding: 60px 240px;
}
.features_content {
  display: flex;
  align-items: baseline;
  column-gap: 60px;
}
.fc_gallery {
}
.fc_items {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
.fc_items img {
}
.fc_text h2 {
  font-size: 45px;
}
.fc_text h2 > span {
  color: var(--csecondary);
  font-weight: 400;
}
.fc_text h2 > p {
  color: var(--cprimary);
  margin-bottom: 20px;
}
.fc_description {
  color: var(--csecondary);
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 30px;
}
/* Features Details Section */
.features_details {
  padding-top: 60px;
  padding-left: 240px;
  padding-right: 240px;
}
.features_details_content {
  display: flex;
  column-gap: 80px;
  align-items: center;
}
.fdc_text {
  margin-top: 40px;
}
#text-item-fdc h1 {
  font-weight: 700;
  font-size: 45px;
  color: var(--ctertiary);
  border-left: 5px solid var(--cprimary);
  padding-left: 15px;
  margin-bottom: 15px;
}
#text-item-fdc p {
  color: var(--csecondary);
  font-weight: 400;
  font-size: 16px;
}
.fdc_text_items {
  padding: 25px;
  box-shadow: 0 6px 16px rgb(0 0 0 / 15%);
  margin: 25px 0;
}
.fdc_text_items p {
  color: var(--csecondary);
  font-weight: 400;
  font-size: 16px;
}
.fdc_text_items h3 {
  font-weight: 600;
  font-size: 20px;
  color: var(--ctertiary);
  margin-bottom: 10px;
}

.fdc_banner {
}
.fdc_banner img {
  width: 708px;
  height: 950px;
}
.fdc_ten_year {
  background-color: var(--cprimary);
  text-align: center;
  color: var(--cwhite);
  width: 342px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 5px;
  position: relative;
  top: -165px;
  right: -585px;
}
.fdc_ten_year h1 {
  font-weight: 700;
  font-size: 65px;
}
.fdc_ten_year p {
  font-weight: 500;
  font-size: 25px;
}
/* Some Facts Section  */
.some_facts {
  padding: 0 240px;
}
.some_facts_content {
}
.sfc_text {
}
.sfc_text h1 {
  font-weight: 700;
  font-size: 45px;
  color: var(--ctertiary);
  margin-bottom: 20px;
}
.sfc_text p {
  color: var(--csecondary);
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 100px;
}
.sfc_summary {
  display: flex;
  column-gap: 120px;
}
.sfc_s_items {
  border: 1px solid var(--cprimary);
  border-radius: 5px;
}
.sfc_s_items h2 {
}
.sfc_s_items p {
}
/* Our Sponspors Section */
.our_sponspors {
  margin-top: 200px;
}
/* Style For Main Area End */

/*
********************************
🙂 Default Code End 🙂
********************************
*/
